.Table {
    margin-top: 10px;
    height: 450px;
    overflow: scroll;
    color: #6a5d5d;
}

.Table tr {
    display: flex;
    justify-content: space-between;
}

.Table td {
    padding: 0.5rem;
}

.Table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}